.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


@font-face {
  font-family: 'Gotham Medium';
  src: local('Gotham Medium'), url(./fonts/GothamMedium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotham Book';
  src: local('Gotham Book'), url(./fonts/GothamBook.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham Light';
  src: local('Gotham Light'), url(./fonts/GothamLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotham Bold';
  src: local('Gotham Bold'), url(./fonts/GothamBold.ttf) format('truetype');
}
